@font-face {
    font-family: 'GeneralFont';
    src: url('../ZhuqueFangsong-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 加载进度条 */
.loading{width:100%;height:100%;position:fixed;top:0;left:0;z-index:100;background:#ffffff;opacity:0.5;}
.loading .pic{width:64px;height:64px;background:url('../images/loading.gif');position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}

body{
    /* font-family: 'GeneralFont', sans-serif; */
    margin: 0px;
    padding: 0px;
}
.fixed-div {
    position: fixed;
    z-index: 99999;
}
.tx{text-align:center;font-size:15px;color:#535353;}
.txn{font-size:15px;color:#535353;}
.tx1{text-align:center;font-size:30px;color:#88abda;}
.tx2{font-size:25px;color:#88abda;}
.tx2v{font-size:25px;color:#88abda;text-align:center;}
.tx2vp{font-size:25px;color:#535353;text-align:center;}
.tx3{font-size:20px;color:#535353;}
.tx3v{font-size:20px;color:#535353;text-align:center;}
.tx3i{font-size:20px;color:#535353;line-height:40px;}
.tx3b{font-size:20px;color:#88abda;}
.tx3vb{font-size:20px;color:#88abda;text-align:center;}
.btn1{background-color:#e9e9e9;font-size:18px;color:#535353;clear:both;}
.btn_mid{text-align:center;font-size:20px;background-color:#e8e8e8;color:black;width:40%;margin-left:30%;padding:18px;cursor:pointer;}
/* download */
.btn_download {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #e8e8e8;
    color: black;
    padding: 18px;
}
.div_download_info {
    float: left;
    width: 48%;
}
.div_download_log {
    margin-left: 4%;
    float: left;
    width: 48%;
    border: 3px solid #88abda ;
    padding: 5px;
}

.mdiv{
	margin:0 auto;
	width:82%;
}
.diva1{
	float:left;
	width:20%;
	padding:1px;
	margin-left:8%;
}
.diva2{
	float:right;
	width:55%;
	padding:1px;
	margin-right:8%;
}
.dive{
	float:right;
	width:100%;
	background-color:#e9e9e9;
	cursor:pointer;
    margin-bottom: 20px;
}
.divoc{
	margin-left:15%;
	line-height:40px;
}
* {box-sizing: border-box;}
a {color: #333;text-decoration:none;}

.menu-container {
    width: 100%;
    margin: 0 auto;
    background: #e9e9e9;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background: #e9e9e9;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: block;
}

.menu > ul > li:hover {
    background: #f0f0f0;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
	font-size:1.5em;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 33%;/* navi width */
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width:300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}